/* assets/css/main.css */

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

/* Define your global styles here */
.global-class {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  border-radius: 5px;
}

.hide-on-mobile {
  display: block;
}

.show-on-mobile {
  display: none;
}
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}
/* Add any other global styles you need */
