/* assets/css/main.css */

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

/* Define your global styles here */
.global-class {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  border-radius: 5px;
}

.content {
  padding: 2rem 32rem;
  margin-bottom: 30px;
  position: relative;
}

.content .floating-div {
  position: absolute;
  width: 220px;
  height: 220px;
  border: 8px solid #ff4426;
  border-radius: 12px;
  right: 10%;
  top: 40%;
  z-index: -1;
}

.form-cover .floating-cover {
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #ff4426;
  left: 16.7%;
  bottom: 12.1%;
  border-radius: 0 0 0 16px;
  z-index: -1;
}

.content h1 {
  font-weight: 600;
  font-size: 46px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.content p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contact-form {
  padding: 1rem 20rem;
  display: flex;
  flex-grow: 1;
}

.contact-form input {
  padding: 1rem 2rem;
  width: 30.6%;
  margin: 8px 16px;
  border: 3px solid #dbdbdd;
  border-radius: 12px;
}

.contact-form select {
  padding: 1rem 2rem;
  width: 30.6%;
  margin: 8px 16px;
  border: 3px solid #dbdbdd;
  background-color: #f0f0f0;
  border-radius: 12px;
}

.contact-form textarea {
  padding: 1rem 2rem;
  width: 97.2%;
  margin: 8px 16px;
  border: 3px solid #dbdbdd;
  border-radius: 12px;
}

.form-cover {
  background-color: rgb(252, 252, 252);
  padding: 12px 18px;
  border-radius: 12px;
  border-top: 6px solid #ff4426;
  box-shadow: 0 0 8px 1px #9999996c;
}

.hide-on-mobile {
  display: block;
}

.show-on-mobile {
  display: none;
}
@media (max-width: 768px) {
  .content {
    padding: 1rem;
    position: relative;
  }

  .content .floating-div {
    display: none;
  }

  .content h1 {
    font-size: 26px;
  }

  .content p {
    font-size: 13px;
  }

  .contact-form {
    padding: 1rem 2rem;
  }

  .contact-form input {
    padding: 1rem;
    width: 90.6%;
  }

  .contact-form select {
    width: 90.6%;
  }

  .contact-form textarea {
    padding: 1rem;
    width: 97.2%;
  }

  .form-cover {
    padding: 6px 8px;
    border-top: 3px solid #ff4426;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}

/* Add any other global styles you need */
